/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */
* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
}

body {
  color: #434343;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 80px;
}

.navbar div img {
  height: 32px;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: #434343;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}


.connect-wallet {
  background: #A02279;
  border-radius: 10px;
  color: white;
  padding: 15px;
}

.header-container {
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.grid-item h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 140%;
  letter-spacing: -2px;
}

.pink {
  color: #A02279;
}

.grid-item p {
  font-size: 24px;
  line-height: 36px;
}

.form-container {
  display: flex;
}

.form-container input {
  outline: none;
  border: .11px solid #9c9c9c;
  padding: 10px;
  font-size: 16px;
}

.form-container button {
  background: #A02279;
  color: white;
  outline: none;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 40px;
}

.grid-item2 {
  display: flex;
  gap: 10px;
}

.header-imgs-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-imgs-2 img {
  width: 234px;
}

.header-imgs-2a {
  margin-top: 70px;
}

.backers-container {
  background: #A02279;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.backers-container img {
  height: 30px;
}

.nft-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 100px;
  gap: 20px;
}

.card-container {
  border: 1px solid #9c9c9c;
  display: inline-flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  width:100%;
}

.nft-home-cards h3 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #000000;
}

.nft-img {
  width: 100%;
  border-radius: 10px;
}

.nft-text {
  display: flex;
  flex-direction: column;
}
.nft-flexed {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.nft-flexed p{
  margin:0;
  padding:0;
}

.metabnb-copy-container {
  margin-top: 60px;
  padding: 100px 100px;
  background: #A02279;
  display: grid;
  grid-template-columns: .8fr 1.2fr;
  align-items: center;
  gap: 60px;
}

.meta-grid-item h3, .meta-grid-item p {
  color: white; 
}

.meta-grid-item h3 {
  font-size: 54px;
  font-weight; 700;
}

.meta-grid-item p {
  font-siz  e: 18px;
  line-height: 35px;
  font-weight: 400;
  margin-bottom: 50px;
}

.metabnb-head {
  font-size: 54px;
}

#learn-more {
  background: white;
  font-size: 14px;
  font-weight: 400;
  color: #A02279;
  padding: 15px 30px;
}

.metabnb-img { 
  width:100%;
}

.footer-grid {
  background: #1D1D1E;
  padding: 0 100px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-contents: space-between;
  padding: 70px 100px;
}

.footer-grid-item {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
  justify-contents: center;
}

.footer-link-head {
  font-size: 18px;
  margin-bottom: 24px;
}

.footer-grid-item a {
  text-decoration: none;
  color: #F1F3F9;
  font-weight: 300;
  font-size: 14px;
}

.footer-logos-section {
  display: flex;
  flex-direction: column;
  gap:60px;
}
.metabnb-logo {
  display: flex;
  gap: 10px;
}

.footer-logo {
  height: 24px;
}
.social-logos {
  display: flex;
  gap: 20px;
  font-size: 14px;
}